<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Boolzapp</title>

    <!-- CSS Links -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="stylesheet" href="./assets/css/utilities.css" />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Main Container -->
    <div id="app" class="container">
      <!-- Left Column -->
      <div class="left h-100 flex-column col-lg-4">
        <!-- Fixed Bars -->
        <div class="fixed-bars">
          <!-- Status Bar -->
          <div class="my-status">
            <div class="pfp-square">
              <img src="./assets/img/avatar_io.jpg" alt="" />
            </div>
            <div class="icons">
              <i class="fa-solid fa-circle-notch"></i>
              <i class="fa-solid fa-message"></i>
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
          </div>

          <!-- Notifications Bar -->
          <div class="notifications">
            <div class="bell-icon">
              <i class="fa-solid fa-bell-slash fa-xl bell"></i>
            </div>
            <div class="notifications-text">
              <p>Ricevi notifiche di nuovi messaggi</p>
              <a href="#">Attiva notifiche desktop</a>
            </div>
          </div>

          <!-- Search Bar -->
          <div class="search-bar">
            <div class="icon-input">
              <i class="fa-solid fa-magnifying-glass fa-lg"></i>
              <input
                type="text"
                placeholder="Cerca o inizia una nuova chat"
                v-model="searchbar"
              />
              <i
                v-if="searchbar.length > 0"
                @click="searchbar = ''"
                class="fa-solid fa-xmark m-0"
              ></i>
            </div>
          </div>
        </div>

        <!-- Scrolling Contacts -->
        <div class="contacts">
          <template v-for="(contact , index) in contacts">
            <div
              v-if="contact.name.toLowerCase().startsWith(searchbar.toLowerCase())"
              class="contact"
              @click="activeContact = index"
              :class="activeContact == index ? 'active' : ''"
            >
              <div class="pfp-square">
                <img :src="contact.avatar" alt="" />
              </div>
              <div class="contact-text">
                <div class="name">
                  <span class="first-substring" v-if="searchbar.length > 0"
                    >{{searchbar.charAt(0).toUpperCase() +
                    searchbar.slice(1)}}</span
                  >
                  <span
                    class="second-substring"
                    :class="searchbar.length > 0 ? 'lighter' : ''"
                    >{{subtractSubstring(contact.name)}}</span
                  >
                  <!-- Recover the last sent message -->
                  <span class="last-message" v-if="contact.messages.length != 0"
                    >{{contact.messages[lastMessageSent(contact.messages)].message}}</span
                  >
                </div>

                <div v-if="contact.messages.length != 0" class="time">
                  {{transformDate(contact.messages[lastMessageSent(contact.messages)].date)}}
                </div>
              </div>
            </div>
          </template>
        </div>
      </div>

      <!-- Right Column -->
      <div class="right h-100 col-12 col-lg-8">
        <!-- Top Bar -->
        <div class="top-bar">
          <div class="pfp-square">
            <img :src="contacts[activeContact].avatar" alt="" />
          </div>

          <div class="top-bar-text">
            <p>{{contacts[activeContact].name}}</p>
            <span v-if="contacts[activeContact].messages.length != 0"
              >Ultimo accesso oggi alle
              {{transformDate(contacts[activeContact].messages[lastMessageSent(contacts[activeContact].messages)].date)}}</span
            >
          </div>

          <div class="top-bar-icons">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-paperclip"></i>
            <i class="fa-solid fa-ellipsis-vertical pr-4"></i>
          </div>
        </div>

        <!-- Scrolling Content -->
        <div class="content">
          <template v-if="contacts[activeContact].messages.length != 0">
            <div
              v-for="(message , index) in contacts[activeContact].messages"
              :class="message.status"
            >
              <div class="txt-icon">
                <p class="pr-1">{{message.message}}</p>
                <i
                  @click="showDropdown(index)"
                  class="fa-solid fa-chevron-down dropdown"
                ></i>

                <ul class="info-msg">
                  <li>Info messaggio</li>
                  <li @click="deleteMessage(index)">Cancella messaggio</li>
                </ul>
              </div>

              <div class="message-time">{{transformDate(message.date)}}</div>
            </div>
          </template>
        </div>

        <!-- Bottom Bar -->
        <div class="type-bar">
          <div class="emoji">
            <i class="fa-regular fa-face-smile fa-2xl"></i>
          </div>
          <input
            class="type-msg"
            type="text"
            placeholder="Scrivi un messaggio"
            v-model="messageInput"
            @keyup.enter="sendMessage()"
          />

          <div id="mic-send" class="record">
            <i class="fa-solid fa-microphone fa-2xl"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- JS Links -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/script.js"></script>
  </body>
</html>
